@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800;900&display=fallback');
/* @font-face {
    font-family: 'Bullpen 3D';
    src: url('../fonts/Bullpen3D.eot');
    src: url('../fonts/Bullpen3D.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bullpen3D.woff') format('woff'),
        url('../fonts/Bullpen3D.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;

        font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype'),
        url('Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

} */

body{
    font-family: 'Inter', sans-serif;
    /* font-family: 'Bullpen 3D'; */
}


.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex{
    display: flex;
}

.open_menu{
    display: none;
}

.header_flex ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.header_flex li{
    margin-left: 22px;
    margin-right: 22px;
}

.header_flex li a {
 font-size: 15px;
 color: #030303;
 font-weight: 400;
}

.header_flex li.active a {
    font-weight: 600;
}
.header_flex button{
    width: 125px;
    height: 50px;
    border-radius: 12px;
    background-color: #E8F1FF;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #2378FF;
}

header{
    padding-top: 25px;
    padding-bottom: 70px;
}

                                                                            /* SECTION 1 */

.intro_img{
    max-width: 100%;
}
.section1 h1{
    font-size: 60px;
    line-height: 72px;
    color: #101130;
    font-weight: 700;
    margin: 0px;
    padding-top: 40px;
}

.afetr_h1 {
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 20px;
    line-height: 32px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.section1 button{
    width: 200px;
    height: 62px; 
    background-color: #F77E53;  
    border-radius: 16px;
    border: none;
    color: #FEF4F1;
    font-size: 18px;
    font-weight: 600;
}

.aftr_button{
    padding-top: 35px;
    font-size: 18px;
    color: #606176;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.aftr_button a{
    text-decoration: underline; 
    font-family: 'Roboto', sans-serif;
}

                                                                            /* SECTION 2 */

.section2{
    padding-top: 125px;
}

.intro_school_logo{
    padding-bottom: 130px;
}

.plusnext_school_logo{
    margin: 0px;
    font-size: 62px;
    font-weight: 900;
    color: #101131;
}
.next_school_logo{
    margin: 0px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 28px;
    color: #606176;
}

.school_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.school_logo ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.school_logo li{
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.school_logo li img{
    max-width: 100%;
}

.guy_section2{
    max-width: 100%;
    padding: 0px;
}

.school_descriptive{
    padding-left: 125px;
}

.school_descriptive h2{
    padding-bottom: 60px;
    margin: 0px;
    font-weight: 700;
}

.school_descriptive h3{
    margin: 0px;
    padding-top: 26px;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
    color: #101130;
}
.online_publick_school_wrapper{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 45px;
    column-gap: 83px;
    align-items: flex-start;
}
.online_publick_school_item{
    width: 40%;
}
.online_publick_school_item p{
    color: #606176;
    margin: 0px;
    line-height: 30px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

                                                                            /* SECTION 3 */

.section3{
    padding-top: 123px;
}

.intro_add_to_card{
    padding-bottom: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro_add_to_card h2{
    font-size: 44px;
    font-weight: 700;
    line-height: 56px;
    color: #101130;
}
.view_all_courses{
    width: 180px;
    height: 60px;
    border-radius: 12px;
    border-color: #2076FF;
    border-width: 1px;
    background-color: white;
    color: #2076FF;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}



.list_add_to_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    gap: 10px;
    flex-wrap: wrap;
}
.list_add_to_card img {
    max-width: 240px;
}
.item_add_to_cared{
    flex: 1;
    max-width: 270px;
    max-height: 390px;

}

.text_add_to_card{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #101130;
    margin-top: 16px;
    margin-bottom: 38px;
}

.same_row{
    display: flex;
    align-items: center;
}
.same_row p{
    margin-bottom: 0px;
}


.time_circle{
    margin-left: 30px;
}

.list_add_to_card button{
    margin-top: 25px;
    width: 240px;
    height: 40px;
    border-radius: 7px;
    border-color: #2076FF;
    border-width: 1px;
    border-style: solid;
    color: #2076FF;
    background-color: #FEFFFF;
}
.list_add_to_card button:hover{
    background-color: #2076FF;
    color: #FEFFFF;
    transition: 0.7s; 
}
.list_add_to_card button:hover img{
    filter: brightness(0) invert(1);
    transition: 0.7s; 
}



                                                                            /* SECTION 4 */

    .section4{
        padding-top: 216px;
    }

    .text_next_video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 25px;
    }

.text_next_video h2{
    padding-bottom: 35px;
    line-height: 56px;
    font-size: 44px;
    font-weight: 700;
    color: #101130;
    margin: 0px;
}
.text_next_video p{
    font: roboto;
    max-width: 80%;
    font-size: 18px;
    line-height: 30px;
    color: #606176;
    margin: 0px;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
}
.text_next_video button{
    background: #F77E53;
    border-radius: 16px;
    width: 200px;
    height: 62px;
    border-width: 0px;
    color: #FEF4F1;
    font-size: 18px;
    font-weight: 600;
}

.main_video_wrapper{
    max-width: 585px;
    max-height: 300px;
}

.main_video{
    display: block;
    max-width: 100%;   
    height: 300px;
    max-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.main_video::before{
    content: '';
    background-image: url(../img/play_video.svg);
    display: block;
    width: 71px;    
    height: 65px;
    position: absolute;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50% ,50%);
}

.video_thumbnails{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.video_thumbnail{
    text-align: center;
    width: 145px;
    height: 115px;
    margin: 0 10px;
    background: #FFFFFF;
    box-shadow: 0px 20px 25px -12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding-top: 16px;
    cursor: pointer;
}
.video_preview{
    width: 80px;
    height: 45px;
    background-position: center;
    border-radius: 10px;
    background-size: cover;
    margin: auto;
    margin-bottom: 9px;
}


                                                                        /* SECTION 5 */
.section5{
    padding-top: 184px;
}
.header_slider{
    margin-left: 20px;
    margin-right: 20px;
}
.slider_wrppaer_flex h2{
    
    line-height: 56px;
    font-size: 44px;
    font-weight: 700;
    color: #101130;
    margin: 0px;
}
.slider_wrppaer_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}
.controls div{
    cursor: pointer;
}

.recenze{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.recenze_nadpis{
   font-size: 22px;
   font-weight: 500; 
   color: #101130;
   line-height: 28px;
   padding-bottom: 35px;
   margin: 0px;
}
.recenze_text{
    font-size: 18px;
    line-height: 30px;
    color: #606176;
    padding-bottom: 45px;
    margin: 0px;
}

.recenze_uzivatel{
    display: flex;
    justify-content: left;
    width: 250px;  
    height: 67px;
}
.recenze_uzivatel img{
  height: 60px;
  width: 60px;
  margin-right: 27px;
}

.uzivatel_jmeno{
    padding-bottom: 0px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
    color: #101130;
    height: 24px;
}
.uzivatel_puvod{
    padding: 0px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #606176;
    height: 16px;
    font-family: 'Roboto', sans-serif;
   
    
}
.recenze_uzivatel_text img{
    margin: 0px;
    padding-bottom: 0px;
    width: 79px;
    height: 15px;
}
.recenze_text{
    font-family: 'Roboto', sans-serif;
}



                                                                            /* SECTION 6 */

.price_list_wrapper_intro{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-top: 100px;
}
.price_list_wrapper_intro button{
    height: 60px;
    width: 160px;
    background-color: #FEFFFF;
    color: #2076FF;
    border: 1px solid #2076FF;
    border-radius: 12px;
}
.price_list_wrapper_intro button:hover{
    background-color: #2076FF;
    color: #FEFFFF;
    transition: 0.7s; 
}


.price_list_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.price_list_item {
    flex: 1;
    max-width: 305px;
    border-radius: 18px;
    overflow: hidden;
}

.price_list_item_header {
    height: 100px;
    background-color: #2076ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_list_item_header p {
    margin: 0;
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
}

.price_list_item_body {
    padding: 22px;
    padding-top: 40px;
    background-color: #f8faff;
}

.price_list_price {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 44px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.1;
}

.price_list_price span {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    position: relative;
}

.price_list_included {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-left: 20px;
}

.price_list_included li {
    margin-bottom: 30px;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 27px;
}

.price_list_included li .bullet {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #2076FF;
    left: 0;
    top: 6px;
}

.price_list_button {
    background: none;
    border: none;
    width: 100%;
    height: 70px;
    border: 1px solid #2076FF;
    border-radius: 14px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2076FF;
    margin-top: 50px;
    transition: 0.5s;
}

.price_list_button:hover {
    opacity: .7;
}

/* FOOTER */
.footer{
    padding-top: 130px;
}

.footer h2{
    font-size: 24px;
    font-weight: 600px;
    color: #101130;
    padding-bottom: 36px;
    margin: 0px;
}
.footer ul{
    font-size: 16px;
    color: #606176;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
.footer li{
margin-bottom: 21px;
width: 150px;
}
.footer li a{
    color: #606176;
    text-decoration: none;
    }
.moto{
    max-width: 25%;
}
.moto img{
    padding-bottom: 30px;
}
.moto p{
    font-size: 18px;
    line-height: 26px;
    color: #606176;
    margin: 0px;
}
.zalozky {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about{
    padding-left: 160px;
}
.support{
    padding-left: 80px;
}
.get_our_app{
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: flex-end;
}
.google_play{
    padding-bottom: 18px;
}
.footer hr{
    margin-top: 95px;
}
.Copyright{
    font-size: 15px;
    color: #606176;
    padding-top: 39px;
    padding-bottom: 38px;
}
