@media only screen and (max-width:1200px){

    .school_descriptive {
        padding-left: 60px;
    }

    .about{
        padding-left: 100px;
    }

    .support{
        padding-left: 50px;
    }

}

@media only screen and (max-width:992px){


    .intro_school_logo{
        align-items: center;
        padding-bottom: 130px;
        display: flex;
    }


    .school_logo ul{
        display: flex;
        list-style-type: none;
        align-content: center;
        margin: 0px;
        padding: 0px;
    }
    .school_logo li{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .school_logo li img{
    width: 100%;
    }

    .school_descriptive{
        padding-left: 100px;
    }

    .online_publick_school_wrapper {
        row-gap: 35px;
        column-gap: 40px;
        align-items: flex-start;
    }
    .school_descriptive h2 {
        padding-bottom: 30px;
        margin: 0px;
    }
    .online_publick_school_item p {
        color: #606176;
        margin: 0px;
        line-height: 20px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }

    .intro_add_to_card h2 {
        font-size: 35px;
;
    }

    .text_add_to_card {
        font-size: 16px;
    }

    .about{
        padding-left: 50px;
    }
    .support{
        padding-left: 30px;
    }

    .section4 {
        padding-top: 100px;
    }

    .list_add_to_card button {
        width: 170px;
    }

}

@media only screen and (max-width:768px){

    .open_menu{
        display: block;
        width: 40px;
    }

    ul.navmenu {
        display:flex ;
        justify-content: space-between;
        list-style-type: none;
        padding-left: 0px;
    }
    
    ul.navmenu li {
        display: inline-block;
        font-size: 18px ;
        color: #070707; 
        margin-left: 10px;
        margin-right: 10px;
    }
    
    ul.navmenu a {
        display: inline-block;
        font-size: 18px ;
        color: #828282; 
    }

    header {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section1 h1 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        margin: 0px;
        padding-top: 10px;
    }

    .intro_img {
        display: none;
    }

    .afetr_h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
    }
    .section1 button {
        width: 150px;
        height: 50px;
        border-radius: 16px;
        font-size: 18px;
    }

    .get_started{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aftr_button {
        padding-top: 20px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }

    .section2 {
        padding-top: 50px;
    }

    .intro_school_logo {
        padding-bottom: 30px;
    }

    .school_logo ul{
        display: flex;
        list-style-type: none;
        align-content: center;
        margin: 0px;
        padding: 0px;
        flex-wrap: wrap;
    }

    .school_logo li {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 11px;
        margin-bottom: 11px;
    }

    .price_list_wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .guy_title {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 30px;
    }

    .guy_section2{
        max-width: 30%;
        min-width: 100px;
    }

    .online_publick_school_title{
        display: flex;
        align-items: center;
        font-size: 26px;
    }

    .school_descriptive {
        padding-left: 30px;
    }

    .school_descriptive h3 {
        padding-top: 15px
    }

    .navmenu{
        padding-top: 20px;
    }
    .navmenu ul {
        padding-left: 0px;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
    }
    .navmenu li {
        margin-left: 11px;
        margin-right: 11px;
    }

    .section3 {
        padding-top: 60px;
    }

    .intro_add_to_card h2 {
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
        max-width: 65%;
    }

    .view_all_courses {
        width: 100px;
        height: 60px;
        line-height: 18px;
        border-radius: 10px;
    }

    .list_add_to_card {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        gap: 10px;
        flex-wrap: wrap;
    }

    .item_add_to_cared {
        margin-left: 15px;
        max-width: 255px;
        max-height: 390px;
    }

    .text_add_to_card {
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        color: #101130;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .list_add_to_card button {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .section4 {
        padding-top: 10px;
    }

    .video_thumbnails {
        row-gap: 15px;
    }

    .video_thumbnail {
        box-shadow: 0px 20px 25px -12px rgb(0 0 0 / 15%);
    }

    .slider_wrppaer_flex {
        padding-bottom: 60px;
    }

    .header_slider {
        padding-top: 150px;
        margin-left: 0px; 
        margin-right: 0px; 
   }

   .slider_wrppaer_flex h2{
    max-width: 70%;
    line-height: 36px;
    font-size: 32px;

    }

    .price_list_wrapper_intro h2{
        font-size: 32px;
        padding-bottom: 0px;
        padding-top: 0px;
        max-width: 70%;
    }

    .recenze {
         margin-left: 0px; 
    }

    .price_list_wrapper_intro {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        padding-top: 100px;
        align-items: center;
    }

    .price_list_wrapper_intro button{
        height: 50px;
        width: 100px;
        margin-top: 30px;
    }

    .zalozky {
        display: flex;
        justify-content: normal;
        flex-wrap: wrap;
    }

    .footer h2 {
        padding-bottom: 25px;
        margin: 0px;
    }

    .moto{
        padding-left: 20px;
        max-width: 100%;
        padding-bottom: 36px;
    }

    .moto img {
        padding-bottom: 30px;
        position: relative;
        bottom: 6px;
    }

    .moto p {
        width: 110%;
    }

    .about {
        padding-bottom: 36px;
    }

    .support {
        padding-left: 20px;
    }

    .footer li {
        margin-bottom: 12px;
    }

    .footer hr {
        margin-top: 25px;
    }
}